.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;

  li a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3 ease;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888f;
  }
}

a {
  margin: 20px;
}

.logo {
  margin-right: 550px;
  margin-left: 5px;
}
